In [2]:
import pandas as pd
import cbrkit
import polars as pl
## site_path ='https://www.kaggle.com/datasets/yasserhessein/multiclass-diabetes-dataset'
### original_data = 'https://data.mendeley.com/datasets/wj9rwkp9c2/1'

data = pd.read_csv('/Users/macbookair/Downloads/Multiclass Diabetes Dataset/Multiclass Diabetes Dataset.csv')

In [3]:
#read the dataset
df = pd.read_csv('/Users/macbookair/Downloads/Dataset of Diabetes .csv')

In [4]:
# view the top 5 rows
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [5]:
#shape of the dataset
df.shape

(1000, 14)

In [6]:
# view the number of duplicated ID
df['ID'].duplicated().sum()

200

In [7]:
# view the check for duplicated IDs
df[df['ID'].duplicated(keep=False)].sort_values(by='ID')

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
846,1,34325,M,56,20.8,800,9.0,4.6,2.0,1.2,2.5,0.9,35.0,Y
273,1,34325,M,58,20.8,800,9.1,6.6,2.9,1.1,4.3,1.3,33.0,Y
847,2,44835,M,60,2.1,56,7.2,6.3,3.7,1.0,3.7,1.7,28.0,Y
541,2,44835,M,60,2.1,56,7.6,3.3,1.7,0.9,1.7,0.8,36.6,Y
848,3,41248,M,53,4.2,55,8.0,5.0,2.5,1.3,2.3,1.6,30.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,198,34288,M,39,4.3,49,5.1,6.7,2.5,1.1,4.5,1.1,25.0,Y
994,199,454316,M,69,10.3,185,7.7,4.9,1.9,1.2,3.0,0.7,37.0,Y
753,199,48613,F,68,4.2,41,11.9,4.0,1.1,2.3,1.1,0.5,30.0,Y
241,200,24038,M,57,2.0,77,7.0,5.5,1.9,1.0,3.7,0.9,33.0,Y
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y

In [8]:
## drop  duplicated ID I believe the later values are more recent entries
df = df.drop_duplicates(subset='ID', keep='last')

In [9]:
# view the number of categorical classes
df['CLASS'].unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [10]:
#count of each class
df['CLASS'].value_counts()

CLASS
Y     703
N      57
P      35
Y       4
N       1
Name: count, dtype: int64

In [10]:
## replace the error of the categorical values
df['CLASS'] = df['CLASS'].replace({'N ': "N", "Y ": "Y"})

In [11]:
## view the count of each class after replacement
df['CLASS'].value_counts()

CLASS
Y    646
N    101
P     53
Name: count, dtype: int64

In [12]:
# check the new shape after dropping duplicates
df.shape

(800, 14)

In [18]:
df.to_csv('/Users/macbookair/Documents/UFSM/COM804/diabetes_cleaned.csv', index=False)