In [1]:
import pandas as pd
import cbrkit
import polars as pl
## site_path ='https://www.kaggle.com/datasets/yasserhessein/multiclass-diabetes-dataset'
### original_data = 'https://data.mendeley.com/datasets/wj9rwkp9c2/1'

data = pd.read_csv('/Users/macbookair/Downloads/Multiclass Diabetes Dataset/Multiclass Diabetes Dataset.csv')

In [2]:
#read the dataset
df = pd.read_csv('/Users/macbookair/Downloads/Dataset of Diabetes .csv')

In [3]:
# view the top 5 rows
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [4]:
#shape of the dataset
df.shape

(1000, 14)

In [5]:
# view the number of duplicated ID
df['ID'].duplicated().sum()

200

In [6]:
# view the check for duplicated IDs
df[df['ID'].duplicated(keep=False)].sort_values(by='ID')

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
846,1,34325,M,56,20.8,800,9.0,4.6,2.0,1.2,2.5,0.9,35.0,Y
273,1,34325,M,58,20.8,800,9.1,6.6,2.9,1.1,4.3,1.3,33.0,Y
847,2,44835,M,60,2.1,56,7.2,6.3,3.7,1.0,3.7,1.7,28.0,Y
541,2,44835,M,60,2.1,56,7.6,3.3,1.7,0.9,1.7,0.8,36.6,Y
848,3,41248,M,53,4.2,55,8.0,5.0,2.5,1.3,2.3,1.6,30.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,198,34288,M,39,4.3,49,5.1,6.7,2.5,1.1,4.5,1.1,25.0,Y
994,199,454316,M,69,10.3,185,7.7,4.9,1.9,1.2,3.0,0.7,37.0,Y
753,199,48613,F,68,4.2,41,11.9,4.0,1.1,2.3,1.1,0.5,30.0,Y
241,200,24038,M,57,2.0,77,7.0,5.5,1.9,1.0,3.7,0.9,33.0,Y
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y

In [ ]:
## drop  duplicated ID I believe the later values are more recent entries
df = df.drop_duplicates(subset='ID', keep='last')

In [8]:
# view the number of categorical classes
df['CLASS'].unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [9]:
#count of each class
df['CLASS'].value_counts()

CLASS
Y     643
N     100
P      53
Y       3
N       1
Name: count, dtype: int64

In [10]:
## replace the error of the categorical values
df['CLASS'] = df['CLASS'].replace({'N ': "N", "Y ": "Y"})

In [11]:
## view the count of each class after replacement
df['CLASS'].value_counts()

CLASS
Y    646
N    101
P     53
Name: count, dtype: int64

In [12]:
# check the new shape after dropping duplicates
df.shape

(800, 14)

In [18]:
df.to_csv('/Users/macbookair/Documents/UFSM/COM804/diabetes_cleaned.csv', index=False)

In [13]:
df = df[df['ID'] !=505]

In [14]:
df.shape

(799, 14)

In [15]:
df.describe()

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,799.000000,7.990000e+02,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000
mean,400.369212,2.835376e+05,53.340426,5.008189,66.889862,8.160576,4.794518,2.302766,1.177409,2.589662,2.009637,29.572616
std,231.199515,3.756566e+06,8.603884,2.642384,52.824558,2.617152,1.267587,1.412691,0.576421,1.082627,4.017963,5.077856
min,1.000000,1.230000e+02,25.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,200.500000,2.407450e+04,50.500000,3.630000,48.000000,6.100000,4.000000,1.400000,0.900000,1.800000,0.700000,26.000000
50%,400.000000,3.436500e+04,55.000000,4.600000,60.000000,8.000000,4.700000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,600.500000,3.456850e+04,59.000000,5.680000,73.000000,10.200000,5.500000,2.800000,1.300000,3.200000,1.500000,33.000000
max,800.000000,7.543566e+07,77.000000,24.000000,800.000000,15.900000,10.300000,13.800000,6.600000,9.900000,35.000000,47.750000

In [16]:
df[df['Cr']==800]

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
273,1,34325,M,58,20.8,800,9.1,6.6,2.9,1.1,4.3,1.3,33.0,Y
283,266,24060,M,58,20.8,800,9.1,6.6,2.9,1.1,4.3,1.3,33.0,Y

In [17]:
df[df['Urea']==24.0]

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
589,136,7747,F,61,24.0,401,7.0,4.3,2.9,0.4,2.7,1.3,30.0,Y
590,363,34455,F,55,24.0,401,6.3,4.3,2.9,0.4,2.7,1.3,28.0,Y
592,540,2570,F,61,24.0,401,7.0,4.3,2.9,0.4,2.7,1.3,36.6,Y

In [ ]:
max_col = df['Chol'].max()
min_col = df['Chol'].min()

(10.3, 0.0)

In [23]:
import pandas as pd
num_cols = df.select_dtypes(include=['number']).columns.drop(['ID', 'No_Pation'])

Q1 = df[num_cols].quantile(0.25)
Q3 = df[num_cols].quantile(0.75)
IQR = Q3 - Q1
lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

lower, upper

(AGE      37.750
 Urea      0.555
 Cr       10.500
 HbA1c    -0.050
 Chol      1.750
 TG       -0.700
 HDL       0.300
 LDL      -0.300
 VLDL     -0.500
 BMI      15.500
 dtype: float64,
 AGE       71.750
 Urea       8.755
 Cr       110.500
 HbA1c     16.350
 Chol       7.750
 TG         4.900
 HDL        1.900
 LDL        5.300
 VLDL       2.700
 BMI       43.500
 dtype: float64)

In [29]:
outlier_mask = (df[num_cols] < lower) | (df[num_cols] > upper)
outlier_counts = outlier_mask.sum().sort_values(ascending=False)
print(outlier_counts)  # how many outliers per column

AGE      68
VLDL     68
TG       52
Urea     41
HDL      39
Cr       34
Chol     21
LDL      11
BMI       3
HbA1c     0
dtype: int64

In [30]:
id_cols = ['ID', 'No_Pation']            # add any other pure identifiers here
feat_cols = [c for c in df.columns if c not in id_cols]

# 1) See duplicate blocks on feature set
dupe_mask = df.duplicated(subset=feat_cols, keep=False)
dupes = df[dupe_mask].sort_values(feat_cols)

# 2) Count distinct duplicate groups
n_groups = (df[dupe_mask]
            .drop_duplicates(subset=feat_cols)
            .shape[0])

# 3) Check label conflicts among identical features
conflicts = (df.groupby(feat_cols)['CLASS']
               .nunique()
               .reset_index(name='n_labels')
               .query('n_labels > 1'))

print(f"Duplicate groups: {n_groups}")
print(f"Conflicting-label groups: {len(conflicts)}")

# 4) Drop duplicates on features (keep first)
df_dedup = df.drop_duplicates(subset=feat_cols, keep='first')

Duplicate groups: 149
Conflicting-label groups: 0

In [ ]:
new_test = new_data[new_data['ID']==198]